<h2>Import a recipe from LetsCookFrench.com!</h2>

<h3>Type an ingredient so we can show you some recipes you may like:</h3>
<form class="" action="/import" method="post">
  <input type="text" name="keyword" placeholder="Ingredient">
  <input type="submit" value="Submit">
</form>
